src/main/webapp/Schema/JDFCapability.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.CIP4.org/JDFSchema_1_1" version="V1.5-001">
	<xs:import namespace="http://www.CIP4.org/JDFSchema_1_5_Types" schemaLocation="JDFTypes.xsd" />
	<xs:complexType mixed="false" name="DeviceCap_re">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@ExecutionPolicy" />
				<Version First="1.2" Path="@Lang" />
				<Version Last="1.1" Path="@OptionalCombinedTypes" />
				<Version Last="1.1" Path="@Type" />
				<Version First="1.2" Path="@TypeExpression" />
				<Version Last="1.1" Path="@TypeOrder" />
				<Version First="1.1" Path="@Types" />
				<Version First="1.2" Path="ActionPool" />
				<Version First="1.3" Path="DevCapPool" />
				<Version First="1.2" Path="DisplayGroupPool" />
				<Version First="1.2" Path="FeaturePool" />
				<Version First="1.2" Path="MacroPool" />
				<Version First="1.3" Path="ModulePool" />
				<Version First="1.2" Path="TestPool" />
				<Constraint Path="ActionPool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="DevCapPool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="DevCaps" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="DisplayGroupPool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="FeaturePool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="MacroPool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="ModulePool" maxOccurs="1" minOccurs="0" />
				<Constraint Path="Performance" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="TestPool" maxOccurs="1" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:ResourceElement">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="ActionPool" type="jdf:ActionPool" />
					<xs:element minOccurs="0" name="DevCapPool" type="jdf:DevCapPool" />
					<xs:element minOccurs="0" name="DevCaps" type="jdf:DeviceCap_DevCaps_lr" />
					<xs:element minOccurs="0" name="DisplayGroupPool" type="jdf:DisplayGroupPool" />
					<xs:element minOccurs="0" name="FeaturePool" type="jdf:FeaturePool" />
					<xs:element minOccurs="0" name="MacroPool" type="jdf:MacroPool" />
					<xs:element minOccurs="0" name="ModulePool" type="jdf:ModulePool" />
					<xs:element minOccurs="0" name="Performance" type="jdf:DeviceCap_Performance_lr" />
					<xs:element minOccurs="0" name="TestPool" type="jdf:TestPool" />
					<xs:element minOccurs="0" ref="jdf:AbstractStates" />
				</xs:sequence>
				<xs:attributeGroup ref="jdf:DeviceCapAttribs_r" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="DeviceCapAttribs_c">
		<xs:attribute name="GenericAttributes" type="jdftyp:NMTOKENS" use="optional" />
		<xs:attribute name="Lang" type="jdftyp:languages" use="optional" />
		<xs:attribute name="OptionalCombinedTypes" type="jdftyp:NMTOKENS" use="optional" />
		<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="optional" />
		<xs:attribute name="TypeExpression" type="jdftyp:regExp" use="optional" />
		<xs:attribute name="TypeOrder" type="jdftyp:eTypeOrder_" use="optional" />
		<xs:attribute name="Types" type="jdftyp:NMTOKENS" use="optional" />
	</xs:attributeGroup>
	<xs:attributeGroup name="DeviceCapAttribs_r">
		<xs:attribute default="None" name="CombinedMethod" type="jdftyp:eCombinedMethods_" />
		<xs:attribute default="AllFound" name="ExecutionPolicy" type="jdftyp:eExecutionPolicy" />
		<xs:attributeGroup ref="jdf:DeviceCapAttribs_c" />
	</xs:attributeGroup>
	<xs:complexType mixed="false" name="DeviceCap_Performance_lr">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@DevCapsRef" />
				<Version Last="1.1" Path="@Name" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="AverageAmount" type="jdftyp:double" use="optional" />
				<xs:attribute name="AverageCleanup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="AverageSetup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="MaxAmount" type="jdftyp:double" use="optional" />
				<xs:attribute name="MaxCleanup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="MaxSetup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="MinAmount" type="jdftyp:double" use="optional" />
				<xs:attribute name="MinCleanup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="MinSetup" type="jdftyp:duration" use="optional" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="DevCapsRef" type="jdftyp:IDREF" use="optional" />
				<xs:attribute name="Unit" type="jdftyp:NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DeviceCap_DevCaps_lr">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@Availability" />
				<Version First="1.2" Path="@Context" />
				<Version First="1.3" Path="@DevCapRef" />
				<Version First="1.2" Path="@ID" />
				<Version First="1.2" Path="@LinkUsage" />
				<Version First="1.3" Path="@ModuleRefs" />
				<Version First="1.3" Path="@ProcessUsage" />
				<Version First="1.2" Path="@Required" />
				<Version Last="1.2" Path="@ResourceUpdate" />
				<Version First="1.3" Path="@ResourceUsage" />
				<Version First="1.2" Path="@TypeOccurrenceNum" />
				<Version Last="1.1" Path="@Types" />
				<Version First="1.2" Path="Loc" />
				<Constraint Path="DevCap" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="DevCap" type="jdf:DevCap_lr" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute default="Installed" name="Availability" type="jdftyp:eAvailability_" />
				<xs:attribute default="Resource" name="Context" type="jdftyp:eContext" />
				<xs:attribute name="DevCapRef" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute default="http://www.CIP4.org/JDFSchema_1_1" name="DevNS" type="jdftyp:URI" />
				<xs:attribute name="ID" type="jdftyp:ID" use="optional" />
				<xs:attribute name="LinkUsage" type="jdftyp:eUsage_" use="optional" />
				<xs:attribute name="ModuleRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="required" />
				<xs:attribute name="ProcessUsage" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute default="false" name="Required" type="jdftyp:boolean" />
				<xs:attribute name="ResourceUpdate" type="jdftyp:NMTOKENS" />
				<xs:attribute name="ResourceUsage" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="TypeOccurrenceNum" type="jdftyp:IntegerRangeList" use="optional" />
				<xs:attribute name="Types" type="jdftyp:NMTOKENS" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DevCap_lr">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@Availability" />
				<Version First="1.3" Path="@DevCapRefs" />
				<Version First="1.3" Path="@ID" />
				<Version First="1.3" Path="@ModuleRefs" />
				<Version First="1.3" Path="@ResourceUsage" />
				<Version First="1.2" Path="Loc" />
				<Constraint Path="DevCap" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				  <xs:element minOccurs="0" name="DevCap" type="jdf:DevCap_lr" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" ref="jdf:AbstractStates" />
				</xs:sequence>
				<xs:attribute name="Availability" type="jdftyp:eAvailability_" use="optional" />
				<xs:attribute name="DevCapRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute default="http://www.CIP4.org/JDFSchema_1_1" name="DevNS" type="jdftyp:URI" />
				<xs:attribute name="ID" type="jdftyp:ID" use="optional" />
				<xs:attribute default="1" name="MaxOccurs" type="jdftyp:Integer" />
				<xs:attribute default="1" name="MinOccurs" type="jdftyp:Integer" />
				<xs:attribute name="ModuleRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="ResourceUsage" type="jdftyp:NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DevCapState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:attribute name="Availability" type="jdftyp:eAvailability_" use="optional" />
				<xs:attribute name="ActionRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute name="DependentMacroRef" type="jdftyp:IDREF" use="optional" />
				<xs:attribute default="http://www.CIP4.org/JDFSchema_1_1" name="DevNS" type="jdftyp:URI" />
				<xs:attribute default="true" name="Editable" type="jdftyp:boolean" />
				<xs:attribute default="true" name="HasDefault" type="jdftyp:boolean" />
				<xs:attribute name="ID" type="jdftyp:ID" use="optional" />
				<xs:attribute default="SingleValue" name="ListType" type="jdftyp:eListType_" />
				<xs:attribute name="MacroRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute default="1" name="MaxOccurs" type="jdftyp:Integer" />
				<xs:attribute default="1" name="MinOccurs" type="jdftyp:Integer" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="Required" type="jdftyp:boolean" use="optional" />
				<xs:attribute name="Span" type="jdftyp:boolean" use="optional" />
				<xs:attribute default="Display" name="UserDisplay" type="jdftyp:eUserDisplay" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="AbstractState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:attribute name="Availability" type="jdftyp:eAvailability_" use="optional" />
				<xs:attribute name="ActionRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute name="DependentMacroRef" type="jdftyp:IDREF" use="optional" />
				<xs:attribute default="http://www.CIP4.org/JDFSchema_1_1" name="DevNS" type="jdftyp:URI" />
				<xs:attribute default="true" name="Editable" type="jdftyp:boolean" />
				<xs:attribute default="true" name="HasDefault" type="jdftyp:boolean" />
				<xs:attribute name="ID" type="jdftyp:ID" use="optional" />
				<xs:attribute default="SingleValue" name="ListType" type="jdftyp:eListType_" />
				<xs:attribute name="MacroRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute default="1" name="MaxOccurs" type="jdftyp:Integer" />
				<xs:attribute default="1" name="MinOccurs" type="jdftyp:Integer" />
				<xs:attribute name="ModuleRefs" type="jdftyp:IDREFS" use="optional" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="Required" type="jdftyp:boolean" use="optional" />
				<xs:attribute name="Span" type="jdftyp:boolean" use="optional" />
				<xs:attribute default="Display" name="UserDisplay" type="jdftyp:eUserDisplay" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element abstract="true" name="AbstractStates" type="jdf:AbstractState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@Availability" />
				<Version First="1.2" Path="@ActionRefs" />
				<Version First="1.2" Path="@DependantMacroRef" />
				<Version First="1.2" Path="@Editable" />
				<Version First="1.2" Path="@ID" />
				<Version First="1.2" Path="@ListType" />
				<Version First="1.2" Path="@MacroRefs" />
				<Version First="1.2" Path="@MaxOccurs" />
				<Version First="1.2" Path="@MinOccurs" />
				<Version First="1.3" Path="@ModuleRefs" />
				<Version First="1.2" Path="@Required" />
				<Version First="1.1" Last="1.1" Path="@Span" />
				<Version First="1.2" Path="@UserDisplay" />
				<Version First="1.2" Path="Loc" />
				<Constraint Path="Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="BooleanState" substitutionGroup="jdf:AbstractStates" type="jdf:BooleanState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.1" Path="@AllowedValueList" />
				<Version First="1.1" Path="@PresentValueList" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateTimeState" substitutionGroup="jdf:AbstractStates" type="jdf:DateTimeState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="DurationState" substitutionGroup="jdf:AbstractStates" type="jdf:DurationState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="EnumerationState" substitutionGroup="jdf:AbstractStates" type="jdf:EnumerationState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="IntegerState" substitutionGroup="jdf:AbstractStates" type="jdf:IntegerState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version Last="1.1" Path="@AllowedValueMax" />
				<Version Last="1.1" Path="@AllowedValueMin" />
				<Version First="1.2" Path="@AllowedValueMod" />
				<Version Last="1.1" Path="@PresentValueMax" />
				<Version Last="1.1" Path="@PresentValueMin" />
				<Version First="1.2" Path="@PresentValueMod" />
				<Version First="1.2" Path="@UnitType" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="MatrixState" substitutionGroup="jdf:AbstractStates" type="jdf:MatrixState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@AllowRotateMod" />
				<Version First="1.2" Path="@AllowedShift" />
				<Version First="1.2" Path="@AllowedTransforms" />
				<Version First="1.2" Path="@PresentRotateMod" />
				<Version First="1.2" Path="@PresentShift" />
				<Version First="1.2" Path="@PresentTransforms" />
				<Version Last="1.1" Path="Value/@PresentValue" />
				<Version First="1.2" Path="Value/@ValueUsage" />
				<Version First="1.2" Path="Value/Loc" />
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Value/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="NameState" substitutionGroup="jdf:AbstractStates" type="jdf:NameState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@AllowedRegExp" />
				<Version First="1.2" Path="@PresentRegExp" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumberState" substitutionGroup="jdf:AbstractStates" type="jdf:NumberState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version Last="1.1" Path="@AllowedValueMax" />
				<Version Last="1.1" Path="@AllowedValueMin" />
				<Version First="1.2" Path="@AllowedValueMod" />
				<Version Last="1.1" Path="@PresentValueMax" />
				<Version Last="1.1" Path="@PresentValueMin" />
				<Version First="1.2" Path="@PresentValueMod" />
				<Version First="1.2" Path="@UnitType" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="PDFPathState" substitutionGroup="jdf:AbstractStates" type="jdf:PDFPathState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Value/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="RectangleState" substitutionGroup="jdf:AbstractStates" type="jdf:RectangleState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShapeState" substitutionGroup="jdf:AbstractStates" type="jdf:ShapeState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version Last="1.1" Path="@AllowedValueMax" />
				<Version Last="1.1" Path="@AllowedValueMin" />
				<Version First="1.2" Path="@AllowedX" />
				<Version First="1.2" Path="@AllowedY" />
				<Version First="1.2" Path="@AllowedZ" />
				<Version Last="1.1" Path="@PresentValueMax" />
				<Version Last="1.1" Path="@PresentValueMin" />
				<Version First="1.2" Path="@PresentX" />
				<Version First="1.2" Path="@PresentY" />
				<Version First="1.2" Path="@PresentZ" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="StringState" substitutionGroup="jdf:AbstractStates" type="jdf:StringState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version First="1.2" Path="@AllowedLength" />
				<Version First="1.2" Path="@AllowedRegExp" />
				<Version First="1.2" Path="@PresentLength" />
				<Version First="1.2" Path="@PresentRegExp" />
				<Version Last="1.1" Path="Value/@PresentValue" />
				<Version First="1.2" Path="Value/@ValueUsage" />
				<Version First="1.2" Path="Value/Loc" />
				<Version Last="1.1" Path="Value/@PresentValue" />
				<Version First="1.2" Path="Value/@ValueUsage" />
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Value/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="XYPairState" substitutionGroup="jdf:AbstractStates" type="jdf:XYPairState">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version Last="1.1" Path="@AllowedValueMax" />
				<Version Last="1.1" Path="@AllowedValueMin" />
				<Version First="1.2" Path="@AllowedXYRelation" />
				<Version Last="1.1" Path="@PresentValueMax" />
				<Version Last="1.1" Path="@PresentValueMin" />
				<Version First="1.2" Path="@PresentXYRelation" />
				<Version First="1.2" Path="@UnitType" />
				<Version First="1.2" Path="ValueLoc" />
				<Constraint Path="ValueLoc" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="ValueLoc/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType mixed="false" name="BooleanState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="AllowedValueList" type="jdftyp:eBooleanStateList_" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:boolean" use="optional" />
				<xs:attribute name="DefaultValue" type="jdftyp:boolean" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:ePresentValueList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DateTimeState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:dateTime" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:dateTime" use="optional" />
				<xs:attribute name="AllowedValueDurationList" type="jdftyp:DurationRangeList" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:DateTimeRangeList" use="optional" />
				<xs:attribute name="PresentValueDurationList" type="jdftyp:DurationRangeList" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:DateTimeRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DurationState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:duration" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:duration" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:DurationRangeList" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:DurationRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="EnumerationState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:NMTOKENS" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:NMTOKENS" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="IntegerState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:IntegerRangeList" use="optional" />
				<xs:attribute name="AllowedValueMax" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="AllowedValueMin" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="AllowedValueMod" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:IntegerRangeList" use="optional" />
				<xs:attribute name="PresentValueMax" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="PresentValueMin" type="jdftyp:Integer" use="optional" />
				<xs:attribute name="PresentValueMod" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="UnitType" type="jdftyp:NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="MatrixState_Value_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute name="AllowedValue" type="jdftyp:matrix" use="required" />
				<xs:attribute name="PresentValue" type="jdftyp:matrix" use="optional" />
				<xs:attribute name="ValueUsage" type="jdftyp:eValueUsage_" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="MatrixState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="Value" type="jdf:MatrixState_Value_lr" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:matrix" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:matrix" use="optional" />
				<xs:attribute name="AllowedRotateMod" type="jdftyp:double" use="optional" />
				<xs:attribute name="AllowedShift" type="jdftyp:MatrixShift_" use="optional" />
				<xs:attribute name="AllowedTransforms" type="jdftyp:OrientationList" use="optional" />
				<xs:attribute name="PresentRotateMod" type="jdftyp:double" use="optional" />
				<xs:attribute name="PresentShift" type="jdftyp:MatrixShift_" use="optional" />
				<xs:attribute name="PresentTransforms" type="jdftyp:OrientationList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="NameState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute name="AllowedRegExp" type="jdftyp:regExp" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:NMTOKENS" use="optional" />
				<xs:attribute name="PresentRegExp" type="jdftyp:regExp" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:NMTOKENS" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="NumberState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:double" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:double" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="AllowedValueMax" type="jdftyp:double" use="optional" />
				<xs:attribute name="AllowedValueMin" type="jdftyp:double" use="optional" />
				<xs:attribute name="AllowedValueMod" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="PresentValueMax" type="jdftyp:double" use="optional" />
				<xs:attribute name="PresentValueMin" type="jdftyp:double" use="optional" />
				<xs:attribute name="PresentValueMod" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="UnitType" type="jdftyp:NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PDFPathState_Value_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute name="AllowedValue" type="jdftyp:PDFPath" use="required" />
				<xs:attribute name="ValueUsage" type="jdftyp:eValueUsage_" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PDFPathState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="Value" type="jdf:PDFPathState_Value_lr" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:PDFPath" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:PDFPath" use="optional" />
				<xs:attribute name="AllowedLength" type="jdftyp:IntegerRange" use="optional" />
				<xs:attribute name="PresentLength" type="jdftyp:IntegerRange" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="RectangleState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:rectangle" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:rectangle" use="optional" />
				<xs:attribute name="AllowedHWRelation" type="jdftyp:XYRelation" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:RectangleRangeList" use="optional" />
				<xs:attribute name="PresentHWRelation" type="jdftyp:XYRelation" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:RectangleRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ShapeState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:shape" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:shape" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:ShapeRangeList" use="optional" />
				<xs:attribute name="AllowedValueMax" type="jdftyp:shape" use="optional" />
				<xs:attribute name="AllowedValueMin" type="jdftyp:shape" use="optional" />
				<xs:attribute name="AllowedX" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="AllowedY" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="AllowedZ" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:ShapeRangeList" use="optional" />
				<xs:attribute name="PresentValueMax" type="jdftyp:shape" use="optional" />
				<xs:attribute name="PresentValueMin" type="jdftyp:shape" use="optional" />
				<xs:attribute name="PresentX" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="PresentY" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="PresentZ" type="jdftyp:DoubleRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="StringState_Value_lr">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.1" Path="." />
				<Version Last="1.1" Path="@PresentValue" />
				<Version First="1.2" Path="@ValueUsage" />
				<Version First="1.2" Path="Loc" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute name="AllowedValue" type="jdftyp:string" use="required" />
				<xs:attribute name="PresentValue" type="jdftyp:string" use="optional" />
				<xs:attribute name="ValueUsage" type="jdftyp:eValueUsage_" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="StringState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="Value" type="jdf:StringState_Value_lr" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:string" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:string" use="optional" />
				<xs:attribute name="AllowedLength" type="jdftyp:IntegerRange" use="optional" />
				<xs:attribute name="AllowedRegExp" type="jdftyp:regExp" use="optional" />
				<xs:attribute name="PresentLength" type="jdftyp:IntegerRange" use="optional" />
				<xs:attribute name="PresentRegExp" type="jdftyp:regExp" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="XYPairState">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractState">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="ValueLoc" type="jdf:ValueLoc" />
				</xs:sequence>
				<xs:attribute name="DefaultValue" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="CurrentValue" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="AllowedValueList" type="jdftyp:XYPairRangeList" use="optional" />
				<xs:attribute name="AllowedValueMax" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="AllowedValueMin" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="AllowedXYRelation" type="jdftyp:XYRelation" use="optional" />
				<xs:attribute name="PresentValueList" type="jdftyp:XYPairRangeList" use="optional" />
				<xs:attribute name="PresentValueMax" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="PresentValueMin" type="jdftyp:XYPair" use="optional" />
				<xs:attribute name="PresentXYRelation" type="jdftyp:XYRelation" use="optional" />
				<xs:attribute name="UnitType" type="jdftyp:NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ValueLoc">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute name="Value" type="jdftyp:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="Loc">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="HelpText" type="jdftyp:string" use="optional" />
				<xs:attribute name="Lang" type="jdftyp:language" use="optional" />
				<xs:attribute name="ShortValue" type="jdftyp:string" use="optional" />
				<xs:attribute name="Value" type="jdftyp:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DisplayGroup">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
				</xs:sequence>
				<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DisplayGroupPool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="DisplayGroup" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="DisplayGroup/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="DisplayGroup" type="jdf:DisplayGroup" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ActionPool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="Action" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="Action/Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Action" type="jdf:Action" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DevCapPool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.3" Path="." />
				<Constraint Path="DevCap" maxOccurs="unbounded" minOccurs="1" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="DevCap" type="jdf:DevCap_lr" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ModulePool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.3" Path="." />
				<Constraint Path="ModuleCap" maxOccurs="unbounded" minOccurs="1" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="ModuleCap" type="jdf:ModuleCap" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ModuleCap">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.3" Path="." />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="Availability" type="jdftyp:eAvailability_" use="optional" />
				<xs:attribute name="ID" type="jdftyp:ID" use="required" />
				<xs:attribute name="ModuleIndex" type="jdftyp:Integer" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="FeaturePool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractStates" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="MacroPool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="macro" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="macro/choice" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="macro/set" maxOccurs="unbounded" minOccurs="0" />
				<Constraint Path="macro/call" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="macro" type="jdf:macro" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="TestPool">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="Test" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:Test" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="BasicPreflightTest">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.4" Path="@Classes" />
				<Version First="1.4" Path="@ClassName" />
				<Constraint Path="PreflightArgument" maxOccurs="1" minOccurs="0" />
				<Constraint Path="PreflightArgument/BoxArgument" maxOccurs="1" minOccurs="0" />
				<Constraint Path="PreflightArgument/BoxToBoxDifference" maxOccurs="1" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="PreflightArgument" type="jdf:PreflightArgument" />
				</xs:sequence>
				<xs:attribute name="Classes" type="jdftyp:NMTOKENS" use="optional" />
				<xs:attribute name="ClassName" type="jdftyp:NMTOKEN" use="optional" />
				<xs:attribute default="http://www.CIP4.org/JDFSchema_1_1" name="DevNS" type="jdftyp:URI" />
				<xs:attribute default="SingleValue" name="ListType" type="jdftyp:eListType_" />
				<xs:attribute default="1" name="MaxOccurs" type="jdftyp:Integer" />
				<xs:attribute default="1" name="MinOccurs" type="jdftyp:Integer" />
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PreflightArgument">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BoxArgument" type="jdf:Preflight_BoxArgument" />
					<xs:element minOccurs="0" name="BoxToBoxDifference" type="jdf:Preflight_BoxToBoxDifference" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="Preflight_BoxArgument">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="Box" type="jdftyp:eBox_" use="required" />
				<xs:attribute name="MirrorMargins" type="jdftyp:eMirrorMargins_" use="optional" />
				<xs:attribute name="Offset" type="jdftyp:rectangle" use="optional" />
				<xs:attribute default="false" name="Overlap" type="jdftyp:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="Preflight_BoxToBoxDifference">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="FromBox" type="jdftyp:eBox_" use="optional" />
				<xs:attribute name="ToBox" type="jdftyp:eBox_" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="macro">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="choice" type="jdf:choice" />
					<xs:element minOccurs="0" name="set" type="jdf:set" />
					<xs:element minOccurs="0" name="call" type="jdf:call" />
				</xs:sequence>
				<xs:attribute name="ID" type="jdftyp:ID" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="choice">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="when" maxOccurs="unbounded" minOccurs="1" />
				<Constraint Path="otherwise" maxOccurs="1" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="when" type="jdf:when" />
					<xs:element minOccurs="0" name="otherwise" type="jdf:otherwise" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="when">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="Term" maxOccurs="1" minOccurs="1" />
				<Constraint Path="set" maxOccurs="unbounded" minOccurs="1" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
					<xs:element minOccurs="0" name="set" type="jdf:set" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="otherwise">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="." />
				<Constraint Path="set" maxOccurs="unbounded" minOccurs="1" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="set" type="jdf:set" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="set_FeatureAttribute_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="CurrentValue" type="jdftyp:string" use="optional" />
				<xs:attribute name="Editable" type="jdftyp:boolean" use="optional" />
				<xs:attribute name="UserDisplay" type="jdftyp:eUserDisplay" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="set">
		<xs:annotation>
			<xs:appinfo>
				<Version First="1.2" Path="@rRef" />
				<Version First="1.2" Path="FeatureAttribute" />
				<Constraint Path="FeatureAttribute" maxOccurs="1" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="FeatureAttribute" type="jdf:set_FeatureAttribute_lr" />
				</xs:sequence>
				<xs:attribute name="rRef" type="jdftyp:IDREF" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="call">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="rRef" type="jdftyp:IDREF" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="Action">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Loc" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="Loc" type="jdf:Loc" />
					<xs:element minOccurs="0" name="PreflightAction" type="jdf:PreflightAction" />
				</xs:sequence>
				<xs:attribute default="Error" name="Severity" type="jdftyp:eSeverity_" />
				<xs:attribute name="ID" type="jdftyp:ID" use="required" />
				<xs:attribute name="TestRef" type="jdftyp:IDREF" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PreflightAction">
		<xs:annotation>
			<xs:appinfo />
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute default="RunList" name="SetSplitBy" type="jdftyp:eSetSplitBy_" />
				<xs:attribute name="SetRef" type="jdftyp:IDREF" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Test">
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="jdf:BaseElement_">
					<xs:sequence maxOccurs="unbounded" minOccurs="0">
						<xs:group minOccurs="0" ref="jdf:GenericElements" />
						<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
					</xs:sequence>
					<xs:attribute name="ID" type="jdftyp:ID" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType mixed="false" name="AbstractTerm">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_" />
		</xs:complexContent>
	</xs:complexType>
	<xs:element abstract="true" name="AbstractTerms" type="jdf:AbstractTerm" />
	<xs:element name="TestRef" substitutionGroup="jdf:AbstractTerms" type="jdf:TestRef" />
	<xs:complexType mixed="false" name="TestRef">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="rRef" type="jdftyp:IDREF" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BooleanEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:BooleanEvaluation" />
	<xs:element name="DateTimeEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:DateTimeEvaluation" />
	<xs:element name="DurationEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:DurationEvaluation" />
	<xs:element name="EnumerationEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:EnumerationEvaluation" />
	<xs:element name="IntegerEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:IntegerEvaluation" />
	<xs:element name="IsPresentEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:IsPresentEvaluation" />
	<xs:element name="MatrixEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:MatrixEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="NameEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:NameEvaluation" />
	<xs:element name="NumberEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:NumberEvaluation" />
	<xs:element name="PDFPathEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:PDFPathEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="RectangleEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:RectangleEvaluation" />
	<xs:element name="ShapeEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:ShapeEvaluation" />
	<xs:element name="StringEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:StringEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="XYPairEvaluation" substitutionGroup="jdf:AbstractTerms" type="jdf:XYPairEvaluation" />
	<xs:complexType abstract="true" mixed="false" name="AbstractEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="BasicPreflightTest" maxOccurs="1" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:attribute name="Path" type="jdftyp:XPath" use="optional" />
				<xs:attribute name="rRef" type="jdftyp:IDREF" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="BooleanEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="ValueList" type="jdftyp:booleanList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DateTimeEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="ValueDurationList" type="jdftyp:DurationRangeList" use="optional" />
				<xs:attribute name="ValueList" type="jdftyp:DateTimeRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="DurationEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="ValueRange" type="jdftyp:DurationRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="EnumerationEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="ValueList" type="jdftyp:NMTOKENS" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="IntegerEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="ValueList" type="jdftyp:IntegerRangeList" use="optional" />
				<xs:attribute name="ValueMod" type="jdftyp:XYPair" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="IsPresentEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="MatrixEvaluation_Value_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="Value" type="jdftyp:matrix" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="MatrixEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbouded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
					<xs:element minOccurs="0" name="Value" type="jdf:MatrixEvaluation_Value_lr" />
				</xs:sequence>
				<xs:attribute name="RotateMod" type="jdftyp:double" use="optional" />
				<xs:attribute name="Shift" type="jdftyp:MatrixShift_" use="optional" />
				<xs:attribute default="0 0" name="Tolerance" type="jdftyp:XYPair" />
				<xs:attribute name="Transforms" type="jdftyp:OrientationList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="NameEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="RegExp" type="jdftyp:regExp" use="required" />
				<xs:attribute name="ValueList" type="jdftyp:NMTOKENS" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="NumberEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute default="0 0" name="Tolerance" type="jdftyp:XYPair" />
				<xs:attribute name="ValueList" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="ValueMod" type="jdftyp:XYPair" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PDFPathEvaluation_Value_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="Value" type="jdftyp:PDFPath" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="PDFPathEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
					<xs:element minOccurs="0" name="Value" type="jdf:PDFPathEvaluation_Value_lr" />
				</xs:sequence>
				<xs:attribute name="Length" type="jdftyp:IntegerRange" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="RectangleEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute name="HWRelation" type="jdftyp:XYRelation" use="optional" />
				<xs:attribute default="0 0" name="Tolerance" type="jdftyp:XYPair" />
				<xs:attribute name="ValueList" type="jdftyp:RectangleRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="ShapeEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute default="0 0" name="Tolerance" type="jdftyp:XYPair" />
				<xs:attribute name="ValueList" type="jdftyp:ShapeRangeList" use="optional" />
				<xs:attribute name="X" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="Y" type="jdftyp:DoubleRangeList" use="optional" />
				<xs:attribute name="Z" type="jdftyp:DoubleRangeList" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="StringEvaluation_Value_lr">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
				</xs:sequence>
				<xs:attribute name="Value" type="jdftyp:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="StringEvaluation">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Value" maxOccurs="unbounded" minOccurs="0" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
					<xs:element minOccurs="0" name="Value" type="jdf:StringEvaluation_Value_lr" />
				</xs:sequence>
				<xs:attribute name="Length" type="jdftyp:IntegerRange" use="optional" />
				<xs:attribute name="RegExp" type="jdftyp:regExp" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="XYPairEvaluation">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractEvaluation">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" name="BasicPreflightTest" type="jdf:BasicPreflightTest" />
				</xs:sequence>
				<xs:attribute default="0 0" name="Tolerance" type="jdftyp:XYPair" />
				<xs:attribute name="ValueList" type="jdftyp:XYPairRangeList" use="optional" />
				<xs:attribute name="XYRelation" type="jdftyp:XYRelation" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="and" substitutionGroup="jdf:AbstractTerms" type="jdf:and" />
	<xs:element name="or" substitutionGroup="jdf:AbstractTerms" type="jdf:or" />
	<xs:element name="not" substitutionGroup="jdf:AbstractTerms" type="jdf:not" />
	<xs:element name="xor" substitutionGroup="jdf:AbstractTerms" type="jdf:xor" />
	<xs:complexType mixed="false" name="and">
		<xs:annotation>
			<xs:appinfo />
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="or">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="not">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType mixed="false" name="xor">
		<xs:complexContent mixed="false">
			<xs:extension base="jdf:AbstractTerm">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:group minOccurs="0" ref="jdf:GenericElements" />
					<xs:element minOccurs="0" ref="jdf:AbstractTerms" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>